* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: #000000;
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.showcase {
    background-image: url('../images/hero_home_bend.jpg');
    width: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 90vh;
}

.showcase h1 {
    font-weight: 700px;
    font-size: 5.2rem;
    line-height: 1.25;
}

:root {
    --primary-color: #e50914;
    --primary-dark-color: #141414;
}

.btn {
    cursor: pointer;
    background: var(--primary-color);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    font-size: 1.2rem;
    padding: 0.4rem 1.3rem;
    text-align: center;
    border: none;
    outline: none;
    margin-right: 0.5rem;
}

.btn-search {
    color: #ffffff;
    padding: 1.0rem;
    text-align: center;
    text-decoration: none;
    background-color: royalblue;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-xl {
    font-size: 1rem;
    padding: 1.3rem 1.1rem;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.1rem;
    cursor: pointer;
}

.showcase_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20rem;
}

.section-content {
    margin-top: 2rem;
    padding: 3px;
}

.section-content h3 {
    font-weight: 700px;
    color: #ffffff;
    text-align: center;
    font-size: 2.0rem;
    line-height: 1.25;
}

.draw-line {
    border-bottom: 1px solid var(--primary-color);
    width: 50%;
    padding: 5px;
    margin: 0 auto;
}

.text-box {
    width: 500px;
    height: 60px;
    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
    border: 2px solid #f2f2f2;
    margin-left: 2px;
    font-size: 1rem;
    font-weight: bold;
}

.form_container {
    display: flex;
    justify-items: center;
    flex-direction: row;
    justify-content: center;
}

.main-container {
    width: 100%;
    background-color: #141414;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    position: relative;
    margin-top: 3rem;
}

.container_content {
    display: flex;
    justify-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4.7rem;
    flex-flow: row wrap;
}

.box {
    width: 800px;
    position: relative;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    text-transform: translate(-50%, -50%);
    border: 10px solid #ffffff;
}

.img_class {
    margin-top: 0;
    width: 100px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.background-box {
    background-color: #ffffff;
}

.lyric_result {
    margin-top: 1rem;
    line-height: 1rem;
    white-space: pre-wrap;
}

footer {
    text-align: center;
    margin-top: 5rem;
}

.error {
    padding: 0.8rem;
    background-color: rgb(249, 121, 121);
    color: white;
    margin-top: 1.3rem;
    margin-left: 1.2rem;
    width: 500px;
}